<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Symfony!</title>
</head>
<body>
<h1>qwe</h1>

{#{% if user.isLoggedIn %}#}
{#    Hello {{ user.name }}!#}
{#{% endif %}#}

{# ... #}
</body>
</html>
